/**
* --------------------------------------------------------------
* ====================== [ =Details Template ] ======================
* --------------------------------------------------------------
*/
.affiliate-products-db {
    
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  //a.btn {
  //  i, span{
  //    color: #fff;
  //  }
  //}
  
  //.list-pro, .list-con {
  //  margin-bottom: 25px;
  //  padding-left: 0;
  //  list-style: none;
  //
  //  ul {
  //    margin-left: 0 !important;
  //
  //    li {
  //      list-style-type: none;
  //      margin-top: 3px;
  //      margin-bottom: 3px;
  //      margin-left: 20px;
  //    }
  //  }
  //}
  //
  //.list-header {
  //  font-size: 18px;
  //  margin-top: 10px;
  //  margin-bottom: 10px;
  //}
  
  
  /**
  * --------------------------------------------------------------
  * =Infobox Top
  * --------------------------------------------------------------
  */
  
  .infobox .infobox-top-body {
    margin: 20px 0 60px 0;
    display: table;
    border-collapse: separate;
    width: 100%;
    //border-spacing: 5px;
    
    > .row {
      display: table-row;
      
      > div {
        display: table-cell;
        float: none;
      }
    }
    
    .image-area {
      .row {
        margin-bottom: 10px;
      }
      
      .infobox-thumbnail {
        padding: 10px;
        
        .zoom {
          font-size: 14px;
          color: $apd-black-1;
          display: block;
          position: absolute;
          bottom: 60px;
          right: 10px;
          text-align: center;
        }
        
        a {
          text-decoration: none;
        }
      }
      
      img.img-responsive {
        padding: 0 10px;
        margin-bottom: 30px;
      }
      
      //span.label-info {
      //  font-size: 16px !important;
      //  margin-right: 10px;
      //}
    }
    
    .amazon-area {
      .amazon-view-offer {
        i.fa-caret-right {
          margin-right: 10px;
          
          span {
            font-weight: 600;
          }
        }
        
        i.fa-icon-eye {
          margin-left: 10px;
        }
      }
      
      .amazon-image {
        .img-responsive {
          @include box-shadow;
        }
      }
      
      .amazon-table-area {
        line-height: 35px;
        font-weight: 700;
        
        i.fa .fa-thumbs-o-up {
          margin-right: 5px;
        }
        
        .img-responsive {
          @include box-shadow;
          
          .small-table {
            background-color: $gray-2;
            padding: 10px 5px;
            margin-top: 10px;
            margin-bottom: 20px;
            
            i.fa-thumbs-o-up {
              margin-right: 5px;
            }
          }
        }
      }
      
      .amazon-price {
        margin-bottom: 10px;
        
        span.badge {
          font-size: 90%;
          color: #000000;
          background-color: #fff;
          padding: 5px 20px;
        }
      }
      
      .amazon-shopping-cart {
        
        i.fa-caret-right {
          margin-right: 10px;
          
          span {
            font-weight: 600;
          }
        }
        
        i.fa-shopping-cart {
          margin-left: 5px;
        }
      }
    }
  }
  
  /**
  * --------------------------------------------------------------
  * =Infobox Body
  * --------------------------------------------------------------
  */
  
  .infobox {
    margin-bottom: 30px;
    .infobox-bottom-body {
      > .row {
        margin-top: 30px;
        .tabs {
          .nav-tabs {
            li {
              cursor: pointer;
              a {
                border-left: none;
              }
              i {
                margin-right: 5px;
              }
            }
          }
          .tab-content {
            border: none;
          }
        }
      }
    }
  }
  
  -webkit-transform: abs(012);
  -moz-transform: abs(012);
  -ms-transform: abs(012);
  -o-transform: abs(012);
  transform: abs(012);
  
  .tab-pane.overview {
    .general-rating-row {
      > div {
        margin-top: 10px;
        margin-bottom: 10px;
        
        .overall-rating {
        }
        
        .amazon-rating {
          a {
            color: #000000;
          }
          
          i.fa.fa-caret-right {
            margin-right: 3px;
          }
          
          .number-of-ratings {
            margin: 2px 10px;
            
            span {
              color: $apd-black-1;
            }
          }
        }
      }
    }
  }
  
  .tab-pane.details {
    .row {
      table{
        margin-bottom: 0;
        tr.category {
          background: $gray-2;
          font-weight: bold;
          td:nth-child(3) {
            font-family: inherit;
          }
        }
  
        tr {
          td:nth-child(3) {
            font-family: monospace;
          }
        }
      }
    }
  }
  
  .tab-pane.reviews {
    .row {
      iframe {
        width: 100%;
        height: 1000px;
      }
    }
  }
  
  .detailed-rating-row {
    .row {
      margin-top: 30px;
      .progress {
        margin-bottom: 0;
        
        .progress-bar {
          background-color: #2b7a00;
        }
      }
      .progress-label {
        margin-bottom: 35px;
      }
    }
  }
  
  .reviews-box{
    
  }
  .manufacturer-box{
    
  }
}