/**
* --------------------------------------------------------------
* ====================Details Template====================
* --------------------------------------------------------------
*/
.affiliate-product-db {
  
  h2 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  .label-promotion {
    color: white;
    width: 100%;
    display: block;
    font-size: 14px;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
  }
  
  //@todo this obviously doesn't work
  .label-promotion:empty {
    display: none;
  }
  
  //a.btn {
  //  i, span{
  //    color: #fff;
  //  }
  //}
  
  .list-pro, .list-con {
    margin-bottom: 25px;
    padding-left: 0;
    list-style: none;
    
    ul {
      margin-left: 0 !important;
      
      li {
        list-style-type: none;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 20px;
      }
    }
  }
  
  .list-header {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .list-pro {
    li:before {
      @include font-awesome("\f0fe");
      font-size: 14px;
      color: $success;
    }
  }
  
  .list-con {
    li:before {
      @include font-awesome("\f146");
      font-size: 14px;
      color: $danger;
    }
  }
  
  .check-square:before {
    @include font-awesome("\f14a");
    color: $success;
    font-size: 130%;
  }
  
  .minus-square:before {
    @include font-awesome("\f146");
    color: $danger;
    font-size: 130%;
  }
  
  .plus-factor:before {
    @include font-awesome("\f055");
    color: $success;
    font-size: 130%;
    padding-right: 4px;
  }
  
  .minus-factor:before {
    @include font-awesome("\f056");
    color: $danger;
    font-size: 130%;
    padding-right: 4px;
  }
  
  /**
  * --------------------------------------------------------------
  * =Infobox Top
  * --------------------------------------------------------------
  */
  
  .infobox .infobox-top {
    margin-top: 15px;
    display: table;
    border-collapse: separate;
    width: 100%;
    //border-spacing: 5px;
    
    > .row {
      display: table-row;
      
      > div {
        display: table-cell;
        float: none;
      }
    }
    
    .image-area {
      .row {
        margin-bottom: 10px;
      }
      
      .infobox-thumbnail {
        padding: 10px;
        
        .zoom {
          font-size: 14px;
          color: $gray-2;
          display: block;
          position: absolute;
          bottom: 60px;
          right: 10px;
          text-align: center;
        }
        
        a {
          text-decoration: none;
        }
      }
      
      img.img-responsive {
        padding: 0 10px;
        margin-bottom: 30px;
      }
      
      //span.label-info {
      //  font-size: 16px !important;
      //  margin-right: 10px;
      //}
    }
    
    .amazon-area {
      .amazon-view-offer {
        i.fa-caret-right {
          margin-right: 10px;
          
          span {
            font-weight: 600;
          }
        }
        
        i.fa-icon-eye {
          margin-left: 10px;
        }
      }
      
      .amazon-image {
        .img-responsive {
          @include box-shadow;
        }
      }
      
      .amazon-table-area {
        line-height: 35px;
        font-weight: 700;
        
        i.fa .fa-thumbs-o-up {
          margin-right: 5px;
        }
        
        .img-responsive {
          @include box-shadow;
          
          .small-table {
            background-color: $gray-3;
            padding: 10px 5px;
            margin-top: 10px;
            margin-bottom: 20px;
            
            i.fa-thumbs-o-up {
              margin-right: 5px;
            }
          }
        }
      }
      
      .amazon-price {
        margin-bottom: 10px;
        
        span.badge {
          font-size: 90%;
          color: #000000;
          background-color: #fff;
          padding: 5px 20px;
        }
      }
      
      .amazon-shopping-cart {
        
        i.fa-caret-right {
          margin-right: 10px;
          
          span {
            font-weight: 600;
          }
        }
        
        i.fa-shopping-cart {
          margin-left: 5px;
        }
      }
    }
  }
  
  /**
  * --------------------------------------------------------------
  * =Infobox Body
  * --------------------------------------------------------------
  */
  
  .infobox .infobox-body {
    > .row {
      margin-top: 30px;
      .tabs {
        .nav-tabs {
          li {
            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  
  .tab-pane.overview {
    .general-rating-row {
      .row {
        margin-top: 10px;
        margin-bottom: 10px;
        
        .overall-rating {
        }
        
        .amazon-rating {
          a {
            color: #000000;
          }
          
          i.fa.fa-caret-right {
            margin-right: 3px;
          }
          
          span.rating-stars {
            color: $amazon-1;
            margin-right: 3px;
          }
          
          .number-of-ratings {
            margin: 2px 10px;
            
            span {
              color: $gray-1;
            }
          }
        }
      }
    }
  }
  
  .tab-pane.details {
    .row {
      tr.category {
        background: $gray-3;
        font-weight: bold;
        td:nth-child(3) {
          font-family: inherit;
        }
      }
      
      tr {
        td:nth-child(3) {
          font-family: monospace;
        }
      }
    }
  }
  
  .tab-pane.reviews {
    .row {
      iframe {
        width: 100%;
        height: 1000px;
      }
    }
  }
  
  .detailed-rating-row {
    .row {
      margin-top: 30px;
      .progress {
        margin-bottom: 0;
        
        .progress-bar {
          background-color: #2b7a00;
        }
      }
      .progress-label {
        margin-bottom: 35px;
      }
    }
  }
}