/**
* --------------------------------------------------------------
* ====================== [ =Master Defintiions ] ======================
* --------------------------------------------------------------
*/

/**
* ----------------------- [ =Colors ] -----------------------
*/

$success: #3c763d;
$green-1: #2b7a00;
$danger: #a94442;
$gray-1: #323232;
$gray-2: #ddd;
$gray-3: #f5f5f5;
$amazon-1: #ffc200;
$amazon-2: #febd69;

/**
* ----------------------- [ =Mixins ] -----------------------
*/

@mixin box-shadow {
  //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.10);
}

@mixin thin-border {
  border: 1px solid #ddd;
}

@mixin font-awesome($content) {
  content: $content;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
}

/**
* ----------------------- [ =Elements ] -----------------------
*/

.btn {
  > .fa {
    margin-right: 7px;
  }
}

span.amazon-stars {
  color: $amazon-1;
  margin-right: 3px;
  font-size: 18px;
}

.list-pro {
  li:before {
    @include font-awesome("\f0fe");
    font-size: 14px;
    color: $success;
  }
}

.list-con {
  li:before {
    @include font-awesome("\f146");
    font-size: 14px;
    color: $danger;
  }
}

.check-square:before {
  @include font-awesome("\f14a");
  color: $success;
  font-size: 130%;
}

.minus-square:before {
  @include font-awesome("\f146");
  color: $danger;
  font-size: 130%;
}

.plus-factor:before {
  @include font-awesome("\f055");
  color: $success;
  font-size: 130%;
  padding-right: 4px;
}

.minus-factor:before {
  @include font-awesome("\f056");
  color: $danger;
  font-size: 130%;
  padding-right: 4px;
}

.label-promotion:empty {
  display: none;
}

.label-promotion {
  color: white;
  width: 100%;
  display: block;
  font-size: 18px;
  padding: .2em .6em .3em;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}