/**
* --------------------------------------------------------------
* ====================== [ =Small Item Template ] ======================
* --------------------------------------------------------------
*/

.affiliate-products-db {
  .small-item {
    .panel-heading {
      display: table;
      height: 75px;
      h4 {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .infobox-thumbnail {
      min-height: 170px;
    }
  }
}