/**
* --------------------------------------------------------------
* ====================== [ =Small Table Template ] ======================
* --------------------------------------------------------------
*/
.affiliate-products-db {
  table {
    margin: 20px 0 60px 0;
    border: 1px solid $gray-4;
    
    .table-promotion {
      color: white;
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 700;
      &.bestseller {
        background: $success-1;
      }
      &.promo-performance {
        background: $blue-2;
      }
      &.promo-price-performance {
        background: $blue-2;
      }
    }
    
    td.bestseller {
      border-left: 2px solid $success-1;
      border-right: 2px solid $success-1;
      //background: $success-2;
    }
    tr:last-of-type td.bestseller {
      border-bottom: 2px solid $success-1;
    }
    td.promo-performance {
      border-left: 2px solid $blue-2;
      border-right: 2px solid $blue-2;
      //background: $blue-3;
    }
    tr:last-of-type td.promo-performance {
      border-bottom: 2px solid $blue-2;
    }
    td.promo-price-performance {
      border-left: 2px solid $blue-2;
      border-right: 2px solid $blue-2;
      //background: $blue-3;
    }
    tr:last-of-type td.promo-price-performance {
      border-bottom: 2px solid $blue-2;
    }
    
    thead {
      display: none;
    }
    
    tbody {
      tr {
        &:nth-child(odd) {
          background: white;
        }
        &:nth-child(even) {
          background: $gray-3;
        }
        &.image {
          td {
            padding-top: 55px;
            img {
              max-width: 100px;
            }
          }
        }
        td {
          position: relative;
          
          .infobox-thumbnail {
            margin-top: 10px;
          }
          
          .btn {
            width: 80%;
            margin: 0 auto;
          }
          
          span.overall-rating {
            font-family: 'Droid Sans', sans-serif;
            font-weight: bold;
            //font-size: 28px;
            font-size: 2.8em;
            color: $blue-2;
          }
          span.overall-rating-text {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: bold;
          }
        }
      }
    }
  }
}