@charset "UTF-8";
/**
* --------------------------------------------------------------
* ====================Admin Panel====================
* --------------------------------------------------------------
*/
/* =Utilities */
/**
* ==============================================================
* =Variables
* ==============================================================
*/
/**
* --------------------------------------------------------------
* =Time
* --------------------------------------------------------------
*/
/**
* --------------------------------------------------------------
* =Colors
* --------------------------------------------------------------
*/
/**
* Blue nimaji theme
*/
/**
* ==============================================================
* =Master Definitions
* ==============================================================
*/
/**
* --------------------------------------------------------------
* =Mixins
* --------------------------------------------------------------
*/
/**
* --------------------------------------------------------------
* =General
* --------------------------------------------------------------
*/
.affiliate-products-db span.overall-rating {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 2.8em; }
.affiliate-products-db span.overall-rating-text {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold; }

/**
* --------------------------------------------------------------
* =Elements
* --------------------------------------------------------------
*/
.btn > .fa {
  margin-right: 7px; }

.btn-amazon {
  background: #febd69;
  color: black; }

span.amazon-stars {
  color: #ffc200;
  margin-right: 3px;
  font-size: 18px; }

.check:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #3c763d;
  font-size: 130%; }

.times:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #a94442;
  font-size: 130%; }

.plus-factor:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #3c763d;
  font-size: 130%;
  padding-right: 4px; }

.minus-factor:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #a94442;
  font-size: 130%;
  padding-right: 4px; }

.details-promotion:empty {
  display: none; }

.promotion-stripe {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px; }

.details-promotion {
  color: white;
  background: #a94442;
  position: absolute;
  height: 38px;
  padding: 0;
  top: 0;
  left: -1px;
  right: -1px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  white-space: nowrap; }

.table-responsive {
  overflow-x: hidden !important; }

@media (max-width: 900px) {
  .table-responsive {
    overflow-x: auto !important; } }
/**
* =Menu
*/
.toplevel_page_affiliate-products-db > .wp-menu-image:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  padding-right: 0; }

/*# sourceMappingURL=admin.css.map */
