/*
Plugin Name: Affiliate Products DB
Theme URI:
Author: Matthias Müller
Author URI:

Version: 1.0.0
Description: Main styling for Affiliate Products DB
Tags: apd
Text Domain: apd

*/

/* =Utilities */
@import "vars";
@import "master";
//@import "fonts";

/* =Base Rules */
@import "normalize";
@import "details";
@import "smallitem";
@import "smalltable";
@import "bigtable";