@charset "UTF-8";
/*
Plugin Name: Affiliate Products DB
Theme URI:
Author: Matthias M├╝ller
Author URI:

Version: 1.0.0
Description: Main styling for Affiliate Products DB
Tags: apd
Text Domain: apd

*/
/* =Utilities */
/**
* ==============================================================
* =Master Definitions
* ==============================================================
*/
/**
* --------------------------------------------------------------
* =Colors
* --------------------------------------------------------------
*/
/**
* --------------------------------------------------------------
* =Mixins
* --------------------------------------------------------------
*/
/**
* --------------------------------------------------------------
* =General
* --------------------------------------------------------------
*/
.affiliate-products-db span.overall-rating {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 2.8em; }
.affiliate-products-db span.overall-rating-text {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold; }

/**
* --------------------------------------------------------------
* =Elements
* --------------------------------------------------------------
*/
.btn > .fa {
  margin-right: 7px; }

.btn-amazon {
  background: #febd69;
  color: black; }

span.amazon-stars {
  color: #ffc200;
  margin-right: 3px;
  font-size: 18px; }

.check:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #3c763d;
  font-size: 130%; }

.times:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #a94442;
  font-size: 130%; }

.plus-factor:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #3c763d;
  font-size: 130%;
  padding-right: 4px; }

.minus-factor:before {
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: relative;
  left: 0;
  color: #a94442;
  font-size: 130%;
  padding-right: 4px; }

.details-promotion:empty {
  display: none; }

.promotion-stripe {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px; }

.details-promotion {
  color: white;
  background: #a94442;
  position: absolute;
  height: 38px;
  padding: 0;
  top: 0;
  left: -1px;
  right: -1px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  white-space: nowrap; }

.table-responsive {
  overflow-x: hidden !important; }

@media (max-width: 900px) {
  .table-responsive {
    overflow-x: auto !important; } }
/* =Base Rules */
/**
* --------------------------------------------------------------
* ====================Normalize====================
* --------------------------------------------------------------
*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: normal; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
* --------------------------------------------------------------
* ====================== [ =Details Template ] ======================
* --------------------------------------------------------------
*/
.affiliate-products-db {
  /**
  * --------------------------------------------------------------
  * =Infobox Top
  * --------------------------------------------------------------
  */
  /**
  * --------------------------------------------------------------
  * =Infobox Body
  * --------------------------------------------------------------
  */
  -webkit-transform: 12;
  -moz-transform: 12;
  -ms-transform: 12;
  -o-transform: 12;
  transform: 12; }
  .affiliate-products-db .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none; }
  .affiliate-products-db .img-responsive {
    padding: 0 10px;
    margin-bottom: 30px; }
    .affiliate-products-db .img-responsive img {
      width: 100%; }
  .affiliate-products-db .infobox {
    margin-bottom: 30px; }
    .affiliate-products-db .infobox .infobox-bottom-body > .row {
      margin-top: 30px; }
      .affiliate-products-db .infobox .infobox-bottom-body > .row .tabs .nav-tabs li {
        cursor: pointer; }
        .affiliate-products-db .infobox .infobox-bottom-body > .row .tabs .nav-tabs li a {
          border-left: none; }
        .affiliate-products-db .infobox .infobox-bottom-body > .row .tabs .nav-tabs li i {
          margin-right: 5px; }
      .affiliate-products-db .infobox .infobox-bottom-body > .row .tabs .tab-content {
        border: none; }
  .affiliate-products-db .tab-pane.overview .general-rating-row > div {
    margin-top: 10px;
    margin-bottom: 10px; }
    .affiliate-products-db .tab-pane.overview .general-rating-row > div .amazon-rating a {
      color: #000000; }
    .affiliate-products-db .tab-pane.overview .general-rating-row > div .amazon-rating i.fa.fa-caret-right {
      margin-right: 3px; }
    .affiliate-products-db .tab-pane.overview .general-rating-row > div .amazon-rating .number-of-ratings {
      margin: 2px 10px; }
      .affiliate-products-db .tab-pane.overview .general-rating-row > div .amazon-rating .number-of-ratings span {
        color: #323232; }
  .affiliate-products-db .tab-pane.details .row table {
    margin-bottom: 0; }
    .affiliate-products-db .tab-pane.details .row table tr.category {
      background: #ddd;
      font-weight: bold; }
      .affiliate-products-db .tab-pane.details .row table tr.category td:nth-child(3) {
        font-family: inherit; }
    .affiliate-products-db .tab-pane.details .row table tr td:nth-child(3) {
      font-family: monospace; }
  .affiliate-products-db .detailed-rating-row > .row {
    margin-top: 30px; }
    .affiliate-products-db .detailed-rating-row > .row .progress-bars {
      margin-top: 22px; }
    .affiliate-products-db .detailed-rating-row > .row .progress {
      margin-bottom: 0; }
      .affiliate-products-db .detailed-rating-row > .row .progress .progress-bar {
        background-color: #2b7a00; }
    .affiliate-products-db .detailed-rating-row > .row .progress-label {
      margin-bottom: 35px; }

/**
* --------------------------------------------------------------
* ====================== [ =Small Item Template ] ======================
* --------------------------------------------------------------
*/
.affiliate-products-db .small-item {
  margin: 20px 0 60px 0; }
  .affiliate-products-db .small-item .panel-heading {
    display: table;
    height: 75px; }
    .affiliate-products-db .small-item .panel-heading h4 {
      display: table-cell;
      vertical-align: middle; }
  .affiliate-products-db .small-item .infobox-thumbnail {
    min-height: 170px; }

/**
* --------------------------------------------------------------
* ====================== [ =Small Table Template ] ======================
* --------------------------------------------------------------
*/
.affiliate-products-db.smalltable table {
  margin: 20px 0 60px 0;
  border: 1px solid #f5f5f5; }
  .affiliate-products-db.smalltable table .table-promotion {
    color: white;
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 700; }
    .affiliate-products-db.smalltable table .table-promotion.bestseller {
      background: #3c763d; }
    .affiliate-products-db.smalltable table .table-promotion.promo-performance {
      background: #5bc0de; }
    .affiliate-products-db.smalltable table .table-promotion.promo-price-performance {
      background: #5bc0de; }
  .affiliate-products-db.smalltable table td.bestseller {
    border-left: 2px solid #3c763d;
    border-right: 2px solid #3c763d; }
  .affiliate-products-db.smalltable table tr:last-of-type td.bestseller {
    border-bottom: 2px solid #3c763d; }
  .affiliate-products-db.smalltable table td.promo-performance {
    border-left: 2px solid #5bc0de;
    border-right: 2px solid #5bc0de; }
  .affiliate-products-db.smalltable table tr:last-of-type td.promo-performance {
    border-bottom: 2px solid #5bc0de; }
  .affiliate-products-db.smalltable table td.promo-price-performance {
    border-left: 2px solid #5bc0de;
    border-right: 2px solid #5bc0de; }
  .affiliate-products-db.smalltable table tr:last-of-type td.promo-price-performance {
    border-bottom: 2px solid #5bc0de; }
  .affiliate-products-db.smalltable table thead {
    display: none; }
  .affiliate-products-db.smalltable table tbody tr td {
    position: relative; }
    .affiliate-products-db.smalltable table tbody tr td .infobox-thumbnail {
      margin-top: 10px; }
    .affiliate-products-db.smalltable table tbody tr td .btn {
      width: 80%;
      margin: 0 auto; }
  .affiliate-products-db.smalltable table tbody tr.image td {
    padding-top: 55px; }
    .affiliate-products-db.smalltable table tbody tr.image td img {
      width: 80%;
      height: 80%;
      margin: 0 auto; }
  .affiliate-products-db.smalltable table tbody tr.amazon-buttons a.btn {
    margin-top: 10px;
    margin-bottom: 10px; }

/**
* --------------------------------------------------------------
* ====================== [ =Big Table Template ] ======================
* --------------------------------------------------------------
*/
.affiliate-products-db.bigtable table thead tr th {
  vertical-align: middle; }
.affiliate-products-db.bigtable table tbody tr td {
  vertical-align: middle; }

/*# sourceMappingURL=apdplugin.css.map */
