/*
Plugin Name: Affiliate Product DB
Theme URI:
Author: Matthias Müller
Author URI:

Version: 1.0.0
Description: Main styling for Affiliate Product DB
Tags: apd
Text Domain: apd

*/

/* =Utilities */
@import "master";
//@import "fonts";

/* =Base Rules */
@import "normalize";
@import "details";
@import "smallitem";