/**
* --------------------------------------------------------------
* =APD Menu styles
* --------------------------------------------------------------
*/
/* =Utilities */
@import "vars";
@import "master";

/**
* =CSV Upload
*/

.apdsetupmenu {
  margin-top: 30px;
  
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  
  label {
    font-weight: 300;
    margin-bottom: 0;
  }
  .form-group {
    margin-top: 20px;
  }
  
  .hint {
    padding: 10px;
    background: lightgray;
  }
}

/**
* =Generate Posts
*/

.apdsetupmenu {
  input[type=radio], input[type=checkbox] {
    margin: 0;
    margin-right: 4px;
  }
  .column-box {
    @include transition(display, $transition-time, ease-in);
    display: none;
  }
  .product-box {
    @include transition(display, $transition-time, ease-in);
    display: none;
  }
  
  .post-generation {
    background-color: $theme-1;
    .form-group .row {
      padding: 10px 0;
    }
  }
}

/**
* --------------------------------------------------------------
* =Elements
* --------------------------------------------------------------
*/
.apdsetupmenu {
  h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .display-block {
    display: block !important;
  }
  
  .display-none {
    display: none !important;
  }
  
  .disabled {
    color: $gray-1;
  }
  
  @for $i from 1 to 20 {
    .spacing-top-#{$i * 10} {
      margin-top: $i * 10px
    }
  }
}
