<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/fc-3.2.2/fh-3.1.2/r-2.1.1/sc-1.4.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/fc-3.2.2/fh-3.1.2/r-2.1.1/sc-1.4.2/datatables.min.js"></script>

<script>
    jQuery(document).ready(function () {
        var dataTable = jQuery('#bigtable').DataTable({
            fixedHeader: true,
            "paging": false,
            "order": [[2, "desc"]],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
        jQuery("#searchbox").on("keyup search input paste cut", function () {
            dataTable.search(this.value).draw();
        });
    });
    //    jQuery("#searchbox").keyup(function() {
    //        dataTable.fnFilter(this.value);
    //    });

</script>

<div class="tabbing-box">
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="tablink active" data-toggle="automowers-compact-table"><a>Kompakt</a></li>
            <li class="tablink" data-toggle="automowers-expanded-table"><a>Alle Details</a></li>
        </ul>
        <div class="affiliate-products-db">
            <div id="automowers-compact-table" class="tab-content active">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                            <input type="text" id="searchbox" class="form-control" placeholder="Suche" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="table-responsive table--products">
                    <table id="bigtable" class="table bigtable">
                        <thead>
                            <tr>
                                <th class="text-center invisible">intern_ranking</th>
                                <th class="text-center width-140">Modell</th>
                                <th class="text-center width-160">Gesamtwertung</th>
                                <th class="text-center width-160">Preis-Leistung</th>
                                <th class="text-center width-80">Einzelwertung</th>
                                <th class="text-center width-160">Preis</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop-start}
                            <tr class="{$Asin} apd-asin">
                                <td class="text-center invisible {$PromoClass}">{$InternRanking}</td>
                                <td class="model text-center {$PromoClass} border-right">
                                    <div><a class="neat-link" href="{$Permalink}" title="{$Title}"><strong>{$Longname}</strong></a></div>
                                    <div class="small-amazon-image">
                                        <a href="{$Permalink}" title="{$Title}">
                                            <img src="{$SmallImageUrl}">
                                        </a>
                                    </div>
                                    <div class="center-block small-column">
                                        <a class="neat-link" rel="nofollow" target="_blank" title="({$TotalReviews}) auf Amazon" href="{$ProductReviewsURL}">{$RatingStars}</a>
                                    </div>
                                </td>
                                <td class="text-center table--progress">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:{$OverallRatingPercent}%;"><span class="progress-bar-tooltip my-progress-bar-tooltip">{$OverallRatingPP}%</span></div>
                                    </div>
                                    <!--<span>{$OverallRatingText} ({$OverallRating})</span>-->
                                </td>
                                <td class="text-center table--progress">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:{$PricePerformanceRating}%;"><span class="progress-bar-tooltip">{$PricePerformanceRating}%</span></div>
                                    </div>
                                    <!--<span>{$PricePerformanceRatingText} ({$PricePerformanceRatingGrade})</span>-->
                                </td>
                                <td class="table--pro-con">
                                    <div class="list-pro list-narrow">
                                        {$AdvantagesShort}
                                    </div>
                                    <div class="list-con list-narrow">
                                        {$DisadvantagesOne}
                                    </div>
                                </td>
                                <td class="text-center table--price">
                                    <span>{$AmazonPriceFormatted}</span>
                                    <a class="btn btn-apd-heavy btn-amazon btn-block" target="_blank" rel="nofollow" href="{$AmazonUrl}" title="{$Title} - Produkt auf amazon.de anschauen">
                                        <i class="fa fa-amazon"></i><span>zu Amazon<span class="affiliate-hint">*</span></span>
                                    </a>
                                </td>
                            </tr>
                            {loop-end}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="automowers-expanded-table" class="tab-content">
                <div class="text-center coming-soon">Hier erscheint demnächst eine detailiertere Tabelle zu all unseren Modellen</div>
            </div>
        </div>


    </div>
</div>